Source/Plugins/Core/com.equella.core/EQUELLA.WS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:ns0="http://webservice.blackboard.integration.openequella.apereo.org" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:ns1="http://webservice.blackboard.integration.openequella.apereo.org/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" targetNamespace="http://webservice.blackboard.integration.openequella.apereo.org">
  <wsdl:types>
    <xs:schema xmlns:ns="http://webservice.blackboard.integration.openequella.apereo.org" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.blackboard.integration.openequella.apereo.org">
      <xs:element name="deleteContent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="deleteContentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="editContent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="institutionUrl" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="editContentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="moveContent">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="contentId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="moveContentResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="synchroniseEquellaContentTables">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="institutionUrl" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="available" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="synchroniseEquellaContentTablesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getServerVersionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" type="xs:int"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCourseCode">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="getCourseCodeResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testConnection">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="param" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="testConnectionResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addItemToCourse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="itemUuid" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="itemVersion" type="xs:int"/>
            <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="xml" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="serverUrl" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="attachment" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="addItemToCourseResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns1:AddItemResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="aBaseReturningMethodResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns1:Base"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listCoursesForUser">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="username" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="archived" type="xs:boolean"/>
            <xs:element minOccurs="0" name="modifiableOnly" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listCoursesForUserResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:Course"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listFoldersForCourse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listFoldersForCourseResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:Folder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listFoldersForFolder">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="listFoldersForFolderResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="ns1:Folder"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllUsages">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serverUrl" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="query" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="available" type="xs:boolean"/>
            <xs:element minOccurs="0" name="offset" type="xs:int"/>
            <xs:element minOccurs="0" name="count" type="xs:int"/>
            <xs:element minOccurs="0" name="sortColumn" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="sortReverse" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findAllUsagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns1:SearchResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUsages">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="serverUrl" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="itemUuid" nillable="true" type="xs:string"/>
            <xs:element minOccurs="0" name="itemVersion" type="xs:int"/>
            <xs:element minOccurs="0" name="versionIsLatest" type="xs:boolean"/>
            <xs:element minOccurs="0" name="available" type="xs:boolean"/>
            <xs:element minOccurs="0" name="allVersions" type="xs:boolean"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
      <xs:element name="findUsagesResponse">
        <xs:complexType>
          <xs:sequence>
            <xs:element minOccurs="0" name="return" nillable="true" type="ns1:SearchResult"/>
          </xs:sequence>
        </xs:complexType>
      </xs:element>
    </xs:schema>
    <xs:schema xmlns:ax226="http://webservice.blackboard.integration.openequella.apereo.org/xsd" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://webservice.blackboard.integration.openequella.apereo.org/xsd">
      <xs:complexType name="AddItemResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="course" nillable="true" type="ns1:Course"/>
          <xs:element minOccurs="0" name="folder" nillable="true" type="ns1:Folder"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Base">
        <xs:sequence>
          <xs:element minOccurs="0" name="createdDate" type="xs:long"/>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="modifiedDate" type="xs:long"/>
          <xs:element minOccurs="0" name="name" nillable="true" type="xs:string"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Course">
        <xs:complexContent>
          <xs:extension base="ns1:Base">
            <xs:sequence>
              <xs:element minOccurs="0" name="available" type="xs:boolean"/>
              <xs:element minOccurs="0" name="code" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="enrollments" type="xs:int"/>
              <xs:element maxOccurs="unbounded" minOccurs="0" name="instructors" nillable="true" type="xs:string"/>
              <xs:element minOccurs="0" name="url" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="Folder">
        <xs:complexContent>
          <xs:extension base="ns1:Base">
            <xs:sequence>
              <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
            </xs:sequence>
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>
      <xs:complexType name="SearchResult">
        <xs:sequence>
          <xs:element minOccurs="0" name="available" type="xs:int"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="courses" nillable="true" type="ns1:Course"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="folders" nillable="true" type="ns1:Folder"/>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="results" nillable="true" type="ns1:Content"/>
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="Content">
        <xs:sequence>
          <xs:element minOccurs="0" name="available" type="xs:boolean"/>
          <xs:element minOccurs="0" name="courseId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="createdDate" type="xs:long"/>
          <xs:element minOccurs="0" name="dateAccessed" type="xs:long"/>
          <xs:element minOccurs="0" name="description" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="folderId" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="folderUrl" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="id" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="modifiedDate" type="xs:long"/>
          <xs:element minOccurs="0" name="page" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="title" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="usageId" type="xs:int"/>
          <xs:element minOccurs="0" name="uuid" nillable="true" type="xs:string"/>
          <xs:element minOccurs="0" name="version" type="xs:int"/>
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>
  <wsdl:message name="moveContentRequest">
    <wsdl:part name="parameters" element="ns0:moveContent"/>
  </wsdl:message>
  <wsdl:message name="moveContentResponse">
    <wsdl:part name="parameters" element="ns0:moveContentResponse"/>
  </wsdl:message>
  <wsdl:message name="listCoursesForUserRequest">
    <wsdl:part name="parameters" element="ns0:listCoursesForUser"/>
  </wsdl:message>
  <wsdl:message name="listCoursesForUserResponse">
    <wsdl:part name="parameters" element="ns0:listCoursesForUserResponse"/>
  </wsdl:message>
  <wsdl:message name="testConnectionRequest">
    <wsdl:part name="parameters" element="ns0:testConnection"/>
  </wsdl:message>
  <wsdl:message name="testConnectionResponse">
    <wsdl:part name="parameters" element="ns0:testConnectionResponse"/>
  </wsdl:message>
  <wsdl:message name="getServerVersionRequest"/>
  <wsdl:message name="getServerVersionResponse">
    <wsdl:part name="parameters" element="ns0:getServerVersionResponse"/>
  </wsdl:message>
  <wsdl:message name="listFoldersForFolderRequest">
    <wsdl:part name="parameters" element="ns0:listFoldersForFolder"/>
  </wsdl:message>
  <wsdl:message name="listFoldersForFolderResponse">
    <wsdl:part name="parameters" element="ns0:listFoldersForFolderResponse"/>
  </wsdl:message>
  <wsdl:message name="deleteContentRequest">
    <wsdl:part name="parameters" element="ns0:deleteContent"/>
  </wsdl:message>
  <wsdl:message name="deleteContentResponse">
    <wsdl:part name="parameters" element="ns0:deleteContentResponse"/>
  </wsdl:message>
  <wsdl:message name="getCourseCodeRequest">
    <wsdl:part name="parameters" element="ns0:getCourseCode"/>
  </wsdl:message>
  <wsdl:message name="getCourseCodeResponse">
    <wsdl:part name="parameters" element="ns0:getCourseCodeResponse"/>
  </wsdl:message>
  <wsdl:message name="findAllUsagesRequest">
    <wsdl:part name="parameters" element="ns0:findAllUsages"/>
  </wsdl:message>
  <wsdl:message name="findAllUsagesResponse">
    <wsdl:part name="parameters" element="ns0:findAllUsagesResponse"/>
  </wsdl:message>
  <wsdl:message name="addItemToCourseRequest">
    <wsdl:part name="parameters" element="ns0:addItemToCourse"/>
  </wsdl:message>
  <wsdl:message name="addItemToCourseResponse">
    <wsdl:part name="parameters" element="ns0:addItemToCourseResponse"/>
  </wsdl:message>
  <wsdl:message name="synchroniseEquellaContentTablesRequest">
    <wsdl:part name="parameters" element="ns0:synchroniseEquellaContentTables"/>
  </wsdl:message>
  <wsdl:message name="synchroniseEquellaContentTablesResponse">
    <wsdl:part name="parameters" element="ns0:synchroniseEquellaContentTablesResponse"/>
  </wsdl:message>
  <wsdl:message name="findUsagesRequest">
    <wsdl:part name="parameters" element="ns0:findUsages"/>
  </wsdl:message>
  <wsdl:message name="findUsagesResponse">
    <wsdl:part name="parameters" element="ns0:findUsagesResponse"/>
  </wsdl:message>
  <wsdl:message name="editContentRequest">
    <wsdl:part name="parameters" element="ns0:editContent"/>
  </wsdl:message>
  <wsdl:message name="editContentResponse">
    <wsdl:part name="parameters" element="ns0:editContentResponse"/>
  </wsdl:message>
  <wsdl:message name="listFoldersForCourseRequest">
    <wsdl:part name="parameters" element="ns0:listFoldersForCourse"/>
  </wsdl:message>
  <wsdl:message name="listFoldersForCourseResponse">
    <wsdl:part name="parameters" element="ns0:listFoldersForCourseResponse"/>
  </wsdl:message>
  <wsdl:message name="aBaseReturningMethodRequest"/>
  <wsdl:message name="aBaseReturningMethodResponse">
    <wsdl:part name="parameters" element="ns0:aBaseReturningMethodResponse"/>
  </wsdl:message>
  <wsdl:portType name="EQUELLA.WSPortType">
    <wsdl:operation name="moveContent">
      <wsdl:input message="ns0:moveContentRequest" wsaw:Action="moveContent"/>
      <wsdl:output message="ns0:moveContentResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/moveContentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listCoursesForUser">
      <wsdl:input message="ns0:listCoursesForUserRequest" wsaw:Action="listAllEnrolledCoursesForUser"/>
      <wsdl:output message="ns0:listCoursesForUserResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/listCoursesForUserResponse"/>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <wsdl:input message="ns0:testConnectionRequest" wsaw:Action="testConnection"/>
      <wsdl:output message="ns0:testConnectionResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/testConnectionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getServerVersion">
      <wsdl:input message="ns0:getServerVersionRequest" wsaw:Action="getServerVersion"/>
      <wsdl:output message="ns0:getServerVersionResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/getServerVersionResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForFolder">
      <wsdl:input message="ns0:listFoldersForFolderRequest" wsaw:Action="listFoldersForFolder"/>
      <wsdl:output message="ns0:listFoldersForFolderResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/listFoldersForFolderResponse"/>
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <wsdl:input message="ns0:deleteContentRequest" wsaw:Action="deleteContent"/>
      <wsdl:output message="ns0:deleteContentResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/deleteContentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="getCourseCode">
      <wsdl:input message="ns0:getCourseCodeRequest" wsaw:Action="getCourseCode"/>
      <wsdl:output message="ns0:getCourseCodeResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/getCourseCodeResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findAllUsages">
      <wsdl:input message="ns0:findAllUsagesRequest" wsaw:Action="findAllUsages"/>
      <wsdl:output message="ns0:findAllUsagesResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/findAllUsagesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="addItemToCourse">
      <wsdl:input message="ns0:addItemToCourseRequest" wsaw:Action="addItemToCourse"/>
      <wsdl:output message="ns0:addItemToCourseResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/addItemToCourseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="synchroniseEquellaContentTables">
      <wsdl:input message="ns0:synchroniseEquellaContentTablesRequest" wsaw:Action="synchroniseEquellaContentTables"/>
      <wsdl:output message="ns0:synchroniseEquellaContentTablesResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/synchroniseEquellaContentTablesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="findUsages">
      <wsdl:input message="ns0:findUsagesRequest" wsaw:Action="findUsages"/>
      <wsdl:output message="ns0:findUsagesResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/findUsagesResponse"/>
    </wsdl:operation>
    <wsdl:operation name="editContent">
      <wsdl:input message="ns0:editContentRequest" wsaw:Action="editContent"/>
      <wsdl:output message="ns0:editContentResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/editContentResponse"/>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForCourse">
      <wsdl:input message="ns0:listFoldersForCourseRequest" wsaw:Action="listFoldersForCourse"/>
      <wsdl:output message="ns0:listFoldersForCourseResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/listFoldersForCourseResponse"/>
    </wsdl:operation>
    <wsdl:operation name="aBaseReturningMethod">
      <wsdl:input message="ns0:aBaseReturningMethodRequest" wsaw:Action="aBaseReturningMethod"/>
      <wsdl:output message="ns0:aBaseReturningMethodResponse" wsaw:Action="http://webservice.blackboard.integration.openequella.apereo.org/EQUELLA/aBaseReturningMethodResponse"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="EQUELLA.WSSOAP11Binding" type="ns0:EQUELLA.WSPortType">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="moveContent">
      <soap:operation soapAction="moveContent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCoursesForUser">
      <soap:operation soapAction="listAllEnrolledCoursesForUser" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap:operation soapAction="testConnection" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerVersion">
      <soap:operation soapAction="getServerVersion" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForFolder">
      <soap:operation soapAction="listFoldersForFolder" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <soap:operation soapAction="deleteContent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseCode">
      <soap:operation soapAction="getCourseCode" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUsages">
      <soap:operation soapAction="findAllUsages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItemToCourse">
      <soap:operation soapAction="addItemToCourse" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchroniseEquellaContentTables">
      <soap:operation soapAction="synchroniseEquellaContentTables" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUsages">
      <soap:operation soapAction="findUsages" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editContent">
      <soap:operation soapAction="editContent" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForCourse">
      <soap:operation soapAction="listFoldersForCourse" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aBaseReturningMethod">
      <soap:operation soapAction="aBaseReturningMethod" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EQUELLA.WSSOAP12Binding" type="ns0:EQUELLA.WSPortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="moveContent">
      <soap12:operation soapAction="moveContent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCoursesForUser">
      <soap12:operation soapAction="listAllEnrolledCoursesForUser" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <soap12:operation soapAction="testConnection" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerVersion">
      <soap12:operation soapAction="getServerVersion" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForFolder">
      <soap12:operation soapAction="listFoldersForFolder" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <soap12:operation soapAction="deleteContent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseCode">
      <soap12:operation soapAction="getCourseCode" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUsages">
      <soap12:operation soapAction="findAllUsages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItemToCourse">
      <soap12:operation soapAction="addItemToCourse" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchroniseEquellaContentTables">
      <soap12:operation soapAction="synchroniseEquellaContentTables" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUsages">
      <soap12:operation soapAction="findUsages" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editContent">
      <soap12:operation soapAction="editContent" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForCourse">
      <soap12:operation soapAction="listFoldersForCourse" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aBaseReturningMethod">
      <soap12:operation soapAction="aBaseReturningMethod" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="EQUELLA.WSHttpBinding" type="ns0:EQUELLA.WSPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="moveContent">
      <http:operation location="EQUELLA.WS/moveContent"/>
      <wsdl:input>
        <mime:content type="text/xml" part="moveContent"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="moveContent"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listCoursesForUser">
      <http:operation location="EQUELLA.WS/listCoursesForUser"/>
      <wsdl:input>
        <mime:content type="text/xml" part="listCoursesForUser"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="listCoursesForUser"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="testConnection">
      <http:operation location="EQUELLA.WS/testConnection"/>
      <wsdl:input>
        <mime:content type="text/xml" part="testConnection"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="testConnection"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getServerVersion">
      <http:operation location="EQUELLA.WS/getServerVersion"/>
      <wsdl:input>
        <mime:content type="text/xml" part="getServerVersion"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="getServerVersion"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForFolder">
      <http:operation location="EQUELLA.WS/listFoldersForFolder"/>
      <wsdl:input>
        <mime:content type="text/xml" part="listFoldersForFolder"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="listFoldersForFolder"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteContent">
      <http:operation location="EQUELLA.WS/deleteContent"/>
      <wsdl:input>
        <mime:content type="text/xml" part="deleteContent"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="deleteContent"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCourseCode">
      <http:operation location="EQUELLA.WS/getCourseCode"/>
      <wsdl:input>
        <mime:content type="text/xml" part="getCourseCode"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="getCourseCode"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findAllUsages">
      <http:operation location="EQUELLA.WS/findAllUsages"/>
      <wsdl:input>
        <mime:content type="text/xml" part="findAllUsages"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="findAllUsages"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addItemToCourse">
      <http:operation location="EQUELLA.WS/addItemToCourse"/>
      <wsdl:input>
        <mime:content type="text/xml" part="addItemToCourse"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="addItemToCourse"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="synchroniseEquellaContentTables">
      <http:operation location="EQUELLA.WS/synchroniseEquellaContentTables"/>
      <wsdl:input>
        <mime:content type="text/xml" part="synchroniseEquellaContentTables"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="synchroniseEquellaContentTables"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="findUsages">
      <http:operation location="EQUELLA.WS/findUsages"/>
      <wsdl:input>
        <mime:content type="text/xml" part="findUsages"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="findUsages"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="editContent">
      <http:operation location="EQUELLA.WS/editContent"/>
      <wsdl:input>
        <mime:content type="text/xml" part="editContent"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="editContent"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="listFoldersForCourse">
      <http:operation location="EQUELLA.WS/listFoldersForCourse"/>
      <wsdl:input>
        <mime:content type="text/xml" part="listFoldersForCourse"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="listFoldersForCourse"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="aBaseReturningMethod">
      <http:operation location="EQUELLA.WS/aBaseReturningMethod"/>
      <wsdl:input>
        <mime:content type="text/xml" part="aBaseReturningMethod"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content type="text/xml" part="aBaseReturningMethod"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="EQUELLA.WS">
    <wsdl:port name="EQUELLA.WSSOAP11port_http" binding="ns0:EQUELLA.WSSOAP11Binding">
      <soap:address location="http://learnonline-ultra.blackboard.com:8080/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
    <wsdl:port name="EQUELLA.WSSOAP11port_https1" binding="ns0:EQUELLA.WSSOAP11Binding">
      <soap:address location="https://learnonline-ultra.blackboard.com:443/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
    <wsdl:port name="EQUELLA.WSSOAP12port_http" binding="ns0:EQUELLA.WSSOAP12Binding">
      <soap12:address location="http://learnonline-ultra.blackboard.com:8080/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
    <wsdl:port name="EQUELLA.WSSOAP12port_https1" binding="ns0:EQUELLA.WSSOAP12Binding">
      <soap12:address location="https://learnonline-ultra.blackboard.com:443/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
    <wsdl:port name="EQUELLA.WSHttpport" binding="ns0:EQUELLA.WSHttpBinding">
      <http:address location="http://learnonline-ultra.blackboard.com:8080/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
    <wsdl:port name="EQUELLA.WSHttpport1" binding="ns0:EQUELLA.WSHttpBinding">
      <http:address location="https://learnonline-ultra.blackboard.com:443/webapps/ws/services/EQUELLA.WS"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
